<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="text-center">
    <h2>でっぷろーい</h2>
    <h1>mawinter-web</h1>
    <p>{{ connectionMessage }}</p>

    <select name="categoryID_selector">
        <option>選択肢のサンプル1</option>
        <option>選択肢のサンプル2</option>
        <option>選択肢のサンプル3</option>
        <option>選択肢のサンプル4</option>
        <option>選択肢のサンプル5</option>
    </select>

    <form>
        <input type="price_box" placeholder="price">
    </form>

    <form action="/" method="get">
        <button type="submit">Post</button>
    </form>
    <p>{{ resultMessage }}</p>
    <h3>今月の直近履歴</h3>
    <table>
        <thead>
            <tr>
                <th>アルファベット</th>
                <th>No.</th>
            </tr>
        </thead>
        <tbody>
            {% for alphabet, no in data %}
            <tr>
                <td>{{ alphabet }}</td>
                <td>{{ no }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
