<!doctype html>
<html lang="ja">
<link rel="stylesheet" href="/static/css/style_summary.css">

<div id="page">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <h1>mawinter-web</h1>
        <input type="button" class="sendbutton" onclick="location.href='../'" value="戻る">
        <h3>今年度のサマリ</h3>

        <h4>合計</h4>
        <table class="summary_table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>カテゴリ名</th>
                    <th>4月</th>
                    <th>5月</th>
                    <th>6月</th>
                    <th>7月</th>
                    <th>8月</th>
                    <th>9月</th>
                    <th>10月</th>
                    <th>11月</th>
                    <th>12月</th>
                    <th>1月</th>
                    <th>2月</th>
                    <th>3月</th>
                    <th>合計</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                    </td>
                    <td>
                        収入・支出
                    </td>
                    {%- for price in all_pure_sum[0] %}
                    <td class="price_value_field">{{ price }}</td>
                    {%- endfor %}
                    <td class="price_value_field">{{ all_pure_sum[1] }}</td>
                </tr>

                <tr>
                    <td>

                    </td>
                    <td>
                        （貯金投資調整後）
                    </td>
                    {%- for price in all_sum[0] %}
                    <td class="price_value_field">{{ price }}</td>
                    {%- endfor %}
                    <td class="price_value_field">{{ all_sum[1] }}</td>
                </tr>

            </tbody>
        </table>
        <hr>

        <h4>収入</h4>
        <table class="summary_table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>カテゴリ名</th>
                    <th>4月</th>
                    <th>5月</th>
                    <th>6月</th>
                    <th>7月</th>
                    <th>8月</th>
                    <th>9月</th>
                    <th>10月</th>
                    <th>11月</th>
                    <th>12月</th>
                    <th>1月</th>
                    <th>2月</th>
                    <th>3月</th>
                    <th>合計</th>
                </tr>
            </thead>
            <tbody>
                {% for cat_id, cat_name, prices, total in income_data %}
                <tr>
                    <td>{{ cat_id }}</td>
                    <td>{{ cat_name }}</td>
                    {%- for price in prices %}
                    <td class="price_value_field">{{ price }}</td>
                    {%- endfor %}
                    <td class="price_value_field">{{ total }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>

                    </td>
                    <td>
                        （合計）
                    </td>
                    {%- for price in income_data_sum[0] %}
                    <td class="price_value_field">{{ price }}</td>
                    {%- endfor %}
                    <td class="price_value_field">{{ income_data_sum[1] }}</td>
                </tr>
            </tbody>
        </table>

        <h4>支出</h4>
        <table class="summary_table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>カテゴリ名</th>
                    <th>4月</th>
                    <th>5月</th>
                    <th>6月</th>
                    <th>7月</th>
                    <th>8月</th>
                    <th>9月</th>
                    <th>10月</th>
                    <th>11月</th>
                    <th>12月</th>
                    <th>1月</th>
                    <th>2月</th>
                    <th>3月</th>
                    <th>合計</th>
                </tr>
            </thead>
            <tbody>
                {% for cat_id, cat_name, prices, total in outgoing_data %}
                <tr>
                    <td>{{ cat_id }}</td>
                    <td>{{ cat_name }}</td>
                    {%- for price in prices %}
                    <td class="price_value_field">{{ price }}</td>
                    {%- endfor %}
                    <td class="price_value_field">{{ total }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>

                    </td>
                    <td>
                        （合計）
                    </td>
                    {%- for price in outgoing_data_sum[0] %}
                    <td class="price_value_field">{{ price }}</td>
                    {%- endfor %}
                    <td class="price_value_field">{{ outgoing_data_sum[1] }}</td>
                </tr>
            </tbody>
        </table>
        <hr>

        <h4>貯金</h4>
        <table class="summary_table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>カテゴリ名</th>
                    <th>4月</th>
                    <th>5月</th>
                    <th>6月</th>
                    <th>7月</th>
                    <th>8月</th>
                    <th>9月</th>
                    <th>10月</th>
                    <th>11月</th>
                    <th>12月</th>
                    <th>1月</th>
                    <th>2月</th>
                    <th>3月</th>
                    <th>合計</th>
                </tr>
            </thead>
            <tbody>
                {% for cat_id, cat_name, prices, total in saving_data %}
                <tr>
                    <td>{{ cat_id }}</td>
                    <td>{{ cat_name }}</td>
                    {%- for price in prices %}
                    <td class="price_value_field">{{ price }}</td>
                    {%- endfor %}
                    <td class="price_value_field">{{ total }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>

                    </td>
                    <td>
                        （合計）
                    </td>
                    {%- for price in saving_data_sum[0] %}
                    <td class="price_value_field">{{ price }}</td>
                    {%- endfor %}
                    <td class="price_value_field">{{ saving_data_sum[1] }}</td>
                </tr>
            </tbody>
        </table>

        <h4>投資</h4>
        <table class="summary_table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>カテゴリ名</th>
                    <th>4月</th>
                    <th>5月</th>
                    <th>6月</th>
                    <th>7月</th>
                    <th>8月</th>
                    <th>9月</th>
                    <th>10月</th>
                    <th>11月</th>
                    <th>12月</th>
                    <th>1月</th>
                    <th>2月</th>
                    <th>3月</th>
                    <th>合計</th>
                </tr>
            </thead>
            <tbody>
                {% for cat_id, cat_name, prices, total in invest_data %}
                <tr>
                    <td>{{ cat_id }}</td>
                    <td>{{ cat_name }}</td>
                    {%- for price in prices %}
                    <td class="price_value_field">{{ price }}</td>
                    {%- endfor %}
                    <td class="price_value_field">{{ total }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>

                    </td>
                    <td>
                        （合計）
                    </td>
                    {%- for price in invest_data_sum[0] %}
                    <td class="price_value_field">{{ price }}</td>
                    {%- endfor %}
                    <td class="price_value_field">{{ invest_data_sum[1] }}</td>
                </tr>
            </tbody>
        </table>
    </body>

</div>

</html>
